#map {
    height: 100%;
    width: 80%;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
  }

.div-entero{
    width: 100%;
    float: left;
}

.div-busqueda{
    width: 80%;
    height: 8%;
    float: left;
}

.div-boton{
    width: 20%; 
    height: 8%;
    float: right;
}
.div-videos{
    width: 100%;
    height: 50%; 
    float:left;
    margin: 5px;
}
.etiqueta{
    font-weight: bold;
}
.mapa{
    width: 100%;
    height: 50%;
    float: left;
}
.boton-compartir{
    width: 3%;
    height: 10%;
    margin: 5px;
    background: rgb(28, 184, 65);
    color: white;
    border-radius: 35%;
}
.botonera{
    width: 100%;
    height: 10%;
    float: left;
}
  html, body {
    height: 100%;
    margin: 5px;
    padding: 0;
  }

  .button-success {
    background: rgb(28, 184, 65);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-error {
    background: rgb(202, 60, 60); 
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}